/* Estilizaçoes gerais */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Estilizaçao do corpo da pagina */
html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: auto;
    background-color: #1f242d;
    scroll-behavior: smooth;
}

/* Estilizaçao para suporte mobile */
@media (max-width: 768px) {

    /* template pagina inicial */
    body {
        overflow: hidden;
        overflow-y: auto;
    }

    .conteiner {
        flex-direction: column;
    }

    .conteiner .sobre {
        margin-right: 30px;
        margin-top: 20px;
    }

    .banner h1 {
        font-size: 12px;
        padding: 0;
        margin-right: 15px;
    }

    .menu {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    .menu a {
        font-size: 12px;
    }

    .wrapper {
        width: 100%;
        height: 100%;
    }

    /* template projetos */
    .wrapper .projetos {
        width: 100%;
    }

    .projetos .descriçao {
        padding-left: -15px;
    }

    .btn .show-more {
        width: 50%;
    }

    .btn .btn a {
        width: 50%;
    }
}

/* Estilizaçao do cabeçalho */
.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    /* Dispoe os items na direita e esquerda */
    z-index: 100;
}

/* Estilizaçao do titulo */
.logo {
    font-size: 25px;
    font-weight: 600;
    cursor: default;
    text-decoration: none;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.azul {
    color: #0ef;
}

.branco {
    color: white;
}

/* Estilizaçao do menu de navegaçao */
.navbar a {
    display: inline-flex;
    font-size: 18px;
    color: white;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 35px;
    position: relative;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0ef;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: transform .3s ease;
}

.navbar a.active {
    color: #0ef;

}

.navbar a:hover::before {
    transform: scaleX(1.05);
    transform-origin: bottom;
}

.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 30px;
    animation: slideRight 1s ease forwards;
    animation-delay: .5s;

}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .5s;
}

.home-content p {
    font-size: 16px;
}

.home-img img {
    max-width: 450px;
    max-height: 500px;
    margin-right: -20px;
    border: 1px solid #0ef;
    border-radius: 15px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: .8s, 3s;
}

.links a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 15px 20px 0;
    filter: grayscale(100%);
    transition: filter .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.links a:hover {
    filter: grayscale(0);
    background: #0ef;
    border: none;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .8s;
}

.btn:hover {
    box-shadow: 0 0 15px #0ef;
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);

    }

    100% {
        transform: translateY(0);
    }
}



/* Estilizaçao do conteiner principal */
.about-container {
    display: flex;
    max-width: 100%;
    align-items: center;
    padding: 10px;
}

/* Estilizaçao do container de habilidades */
.skills-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 75vh;
    justify-content: center;
    align-items: center;
}

.skills-content {
    max-width: 780px;
    text-align: center;
}

.skills-content h2 {
    border-bottom: 1px solid #0ef;
}


.skills-content .items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border-bottom: 1px solid #0ef;
}

.items .icon-skill {
    padding: 25px 30px;
}

.icon-skill .icon {
    display: inline-flex;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    color: #0ef;
}

.icon-skill p {
    color: white;
    font-size: 12px;
    font-weight: 600;
    margin-top: 10px;
}

.icon .icon-font {
    font-size: 100px;
}














/* Estilizaçao das imagens da pagina */
.about-container .infos {
    max-width: 100%;
    margin-top: 10px;
    text-align: center;
    color: white;
    background-color: #000a18;
    border: 1px solid rgb(4, 87, 165);
    border-radius: 15px;
}

.infos .img-social {
    width: 85%;
    height: 300px;
    margin-left: 0;
    margin: 10px;
    border: 1px solid rgb(4, 87, 165);
    border-radius: 15px;
}

.infos .img-social:hover {
    border-color: rgb(20, 122, 156);
    transform: scale(1.03);
}

/* Estilizaçao dos titulos */
.infos .skills,
.infos .contato {
    max-width: 100%;
    text-align: center;
    padding-right: 2px;
    margin: 5px;
}

.infos .items {
    display: flex;
    /*organiza os items um ao lado do outro*/
    flex-wrap: wrap;
    max-width: 100%;
    text-align: center;
}

/* Estilizaçao dos links de contato */
.infos .links {
    max-width: 100%;
    text-align: center;
}

.infos .imagens {
    margin: 3.5px;
}

/* Estilizaçao das imagens utilizadas na apresentaçao de habilidades*/
.imagens .img-skill {
    width: 35px;
    height: 35px;
    margin: 10px;
}

.imagens p {
    font-size: 10px;
    margin: 10px;
}

/* Estilizaçao dos blocos de texto da pagina */
.about-container .about {
    display: block;
    width: 100%;
    height: 90%;
    margin-left: 30px;
    color: white;
    border-radius: 15px;
    border: 1px solid rgb(4, 87, 165);
    background-color: #000a18;
    padding: 15px;
    overflow: hidden;
    overflow-y: auto;
}

.about .title {
    width: 100%;
    text-align: left;
    margin-left: 20px;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
}

.about .text {
    display: block;
    width: 100%;
}

.text p {
    text-indent: 20px;
}

.projects-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilizaçao de layout dos projetos */
.projects-container .project {
    display: flex;  
    width: 70%; 
    height: 270px;  
    align-items: center;
    margin-top: 50px;
    flex-wrap: wrap;
    border: 1px solid #0ef;
}

/* Estilizaçao das imagens de apresentaçao */
.project .image {
    width: 50%;
    height: 270px;
}

.image img {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.project img:hover {
    transform: scale(1.02);
}

/* estilizaçao dos textos de descriçao dos projetos */
.project .description {
    width: 50%;
    height: 270px;
    padding: 30px 0 10px 15px;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.description h2 {
    max-width: 100%;
    text-align: left;
}

.description p {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    margin-top: 10px;
}

.tec-projects .icon {
    display: inline-flex;
    font-size: 35px;
    color: #0ef;
    margin: 10px 0 10px 15px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--j));
}

/* Estilizaçao do layout dos botões */
.description .btn-project {
    display: flex;
    max-width: 100%;
    text-align: left;
    margin-top: 20px;
}

/*
.circle .arrow-down {
    font-size: 16px;
    margin-right: 0.5px;
    transform: rotate(90deg); /* rotaciona o simbolo ">" 90 graus para baixo */
/*
}
*/

/* Estilizaçao dos botões ver codigo */
.btn-project a {
    display: flex;
    text-decoration: none;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    color: #0ef;
}

.btn-project a:hover {
    font-weight: 600;

}

a .circle {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    border: 1px solid #0ef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: right;
}

.circle .arrow {
    font-size: 13px;
    color: #0ef;
}

/* Estilizaçao do botões mostrar mais */
.btn-project .show-more {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    color: #1f242d;
    padding: 10px 20px;
    background: #0ef;  
    box-shadow: 0 0 10px #0ef;
    text-decoration: none;
    font-weight: 600;
    border: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .8s;
}

.btn-project .show-more:hover {
    box-shadow: 0 0 15px #0ef;
}

/* Estilizaçao do layout do bloco mostrar mais */
.projects-container .details-project {
    display: flex;
    max-height: 0;
    transition: max-height 0.5s;
    width: 70%;
    color: white;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.details-project .details-1 {
    display: flex;
    flex-wrap: wrap;
}

.details-project .details-2 {
    display: flex;
    flex-wrap: nowrap;
}

/* Estilizaçao das imagens de demonstraçao */
.details-project .details-image {
    width: 100%;
    padding: 10px;
}

.details-image .images {
    max-width: 100%;
    height: 250px;
    border: 1px solid rgb(4, 87, 165);
    border-radius: 15px;
    margin-bottom: 5px;
    cursor: pointer;
    overflow: hidden;
}

.details-image .images:hover,
.details-image .images-:hover {
    transform: scale(1.03);
}

.details-image .images- {
    height: 250px;
    width: 390px;
    max-width: 100%;
    max-height: 100%;
    border: 1px solid rgb(4, 87, 165);
    border-radius: 15px;
    margin-left: 45px;
    margin-top: 3px;
    margin-bottom: 5px;
    cursor: pointer;
}

/* Estilizaçao dos layout dos textos */
.details-project .text-1 {
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 17px;
    text-indent: 30px;
    border-top: 1px solid rgb(0, 43, 83);
}

.text-1 a {
    color: #0ef;
    text-decoration: none;
}

.text-1 a:hover {
    text-decoration: underline;
}

.details-project .text-2 {
    width: 90%;
    padding: 10px;
    text-align: left;
    font-size: 17px;
    padding-top: 60px;
    border-left: 1px solid rgb(0, 43, 83);
}

.text a {
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}

/* Estilizaçao do texto para download do P */
object p {
    padding: 50px;
    color: white;
}

/* Estilizaçao do link de download do PDF */
object a {
    text-decoration: none;
    color: #1a75ff;
}

object a:hover {
    text-decoration: underline;
}

/* Estilizaçao do lightbox */
#lightbox {
    /* Inicialmente o lightbox é escondido */
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    text-align: center;
}

/* Estilizaçao da imagem em tamanho real */
#lightboxImagem {
    display: block;
    padding-top: 20px;
    margin: auto;
    max-height: 80%;
    max-width: 80%;
}