.about_content {
  max-width: 750px;
  text-align: center;
}

.about_content .text {
  padding: 20px 0 20px;
  font-size: 17px;
}
.text p {
  line-height: 1.6;
}

@media (prefers-color-scheme: light) {
  .text {
    color: #1f242d;
  }
}
