.about_content {
  max-width: 750px;
  text-align: center;
}

.about_content .text {
  padding: 20px 0;
  font-size: 17px;
}

.text p {
  line-height: 1.6;
}

@media (prefers-color-scheme: light) {
  .text {
    color: #1f242d;
  }
}

@media (max-width: 500px) {
  .about_content .text {
    text-align: justify;
  }

  .text p {
    line-height: 1.3;
  }
}
