.container {
  position: relative;
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 4em 10% 2.5em;
}

span {
  color: #3fa9f5;
}

/* custom classes */
.justify_between {
  justify-content: space-between;
}
