.navbar {
  display: inline-flex;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: transparent;
  justify-content: space-between;
  align-items: center;
  padding: 1.2em 10%;
  color: #fff;
  z-index: 100;
}

.navbar ul {
  display: flex;
  list-style: none;
}

.navbar ul li {
  margin-left: 2em;
}

.logo {
  font-size: 1.5em;
  font-weight: 600;
}

.color {
  color: white;
}

.links {
  font-size: 1.2em;
  text-decoration: none;
  position: relative;
  cursor: pointer;
  color: white;
}

.links:hover {
  color: #3fa9f5;
}

.links::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3fa9f5;
  transform: scaleX(0);
  transform-origin: bottom;
  transition: transform 0.4s ease;
}

.links:hover::before {
  transform: scaleX(1.05);
  transform-origin: bottom;
}

.active {
  color: #3fa9f5;
}

@media (prefers-color-scheme: light) {
  .navbar,
  .color,
  .links {
    color: #1f242d;
  }

  .active {
    color: #3fa9f5;
  }
}

@media (max-width: 768px) {
  .navbar ul li {
    margin-left: 1em;
    font-size: 0.9em;
  }

  .logo {
    font-size: 18px;
  }
}

@media (max-width: 450px) {
  /* Visualização Mobile */
  .navbar ul {
    width: 100%;
    justify-content: center;
  }

  .navbar ul li {
    font-size: 13px;
    margin: 0 10px;
  }

  .logo {
    display: none;
  }
}
