.scrollSection {
  position: relative;
  width: 100%;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  padding: 4.3em 10% 2em;
}

span {
  color: #3fa9f5;
}

/* custom classes */
.justify_between {
  justify-content: space-between;
}

@media (max-width: 768px) {
  .scrollSection {
    flex-direction: column-reverse;
    text-align: center;
  }
}
