/* Estilizaçoes gerais */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/* Estilizaçao do corpo da pagina */
html,
body {
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow: hidden;
    overflow-y: auto;
    background-color: #1f242d;
    scroll-behavior: smooth;
}


/* Estilizaçao do cabeçalho */
.header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    background: transparent;
    justify-content: space-between;
    align-items: center;
    /* Dispoe os items na direita e esquerda */
    z-index: 100;
}

/* Estilizaçao do titulo */
.logo {
    font-size: 25px;
    font-weight: 600;
    cursor: default;
    text-decoration: none;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.azul {
    color: #0ef;
}

.branco {
    color: white;
}

/* Estilizaçao do menu de navegaçao */
.navbar a {
    display: inline-flex;
    font-size: 18px;
    color: white;
    text-decoration: none;
    color: white;
    font-weight: 500;
    margin-left: 35px;
    position: relative;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #0ef;
    transform: scaleX(0);
    transform-origin: bottom;
    transition: transform .3s ease;
}

.navbar a.active {
    color: #0ef;

}

.navbar a:hover::before {
    transform: scaleX(1.05);
    transform-origin: bottom;
}

.home-container {
    position: relative;
    width: 100%;
    height: 90vh;
    min-height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    width: 600px;
    max-height: 100%;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .5s;
}

.home-content h3:nth-of-type(2) {
    margin-bottom: 15px;
    animation: slideRight 1s ease forwards;
    animation-delay: .5s;

}

.home-content h3 span {
    color: #0ef;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: .5s;
}

.home-img img {
    max-width: 450px;
    max-height: 450px;
    margin-right: -20px;
    border: 1px solid #0ef;
    border-radius: 15px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: .8s, 3s;
}

.links a {
    display: inline-flex;
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    background: transparent;
    border: 2px solid;
    border-radius: 50%;
    font-size: 20px;
    text-decoration: none;
    margin: 20px 15px 20px 0;
    filter: grayscale(100%);
    transition: filter .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--i));
}

.links a:hover {
    filter: grayscale(0);
    background: #0ef;
    border: none;
    color: #1f242d;
    box-shadow: 0 0 20px #0ef;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: #0ef;
    border-radius: 40px;
    box-shadow: 0 0 10px #0ef;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .8s;
}

.btn:hover {
    box-shadow: 0 0 15px #0ef;
}

/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);

    }

    100% {
        transform: translateY(0);
    }
}

/* Estilizaçao do container de habilidades */
.about-container,
.skills-container {
    position: relative;
    display: flex;
    width: 100%;
    height: 90vh;
    min-height: 600px;
    justify-content: center;
    align-items: center;
}

.skills-content,
.about-content {
    max-width: 900px;
    max-height: 100%;
    text-align: center;
}

.skills-content h2,
.about-content h2 {
    font-size: 40px;
    border-bottom: 1px solid #0ef;
}

.about-content .text {
    padding: 20px;
    font-size: 18px;
    border-bottom: 1px solid #0ef;
}

.text p {
    text-indent: 30px;
}

.skills-content .items {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 5px;
    justify-content: center;
    border-bottom: 1px solid #0ef;
}

.items .icon-skill {
    width: 200px;
    justify-content: center;
    align-items: center;
    color: #0ef;
}

.icon-skill .icon {
    padding: 10px;
}

.icon-skill p {
    color: white;
    font-size: 13px;
    font-weight: 600;

}

.icon .icon-font {
    font-size: 130px;
}

.projects-container {
    padding-top: 100px;
}

.projects-container .borda {
    margin: 0 auto;
    width: 1024px;
    max-width: 100%;
    text-align: center;
}

.borda h2 {
    font-size: 40px;
    border-bottom: 1px solid #0ef;
}

.projects-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

/* Estilizaçao de layout dos projetos */
.projects-content .project {
    display: flex;
    width: 950px;
    max-width: 100%;
    height: 270px;
    margin-top: 35px;
    align-items: center;
    flex-wrap: wrap;
    border: 1px solid #0ef;
}

/* Estilizaçao das imagens de apresentaçao */
.project .image {
    width: 50%;
    height: 270px;
}

.image img {
    width: 100%;
    height: 100%;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.project img:hover {
    transform: scale(1.02);
}

/* estilizaçao dos textos de descriçao dos projetos */
.project .description {
    width: 50%;
    height: 270px;
    padding: 30px 0 10px 15px;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.description h2 {
    text-align: left;
}

.description p {
    width: 100%;
    text-align: left;
    padding: 10px 20px;
    margin-top: 10px;
}

.description p a {
    text-decoration: none;
    color: #0ef;
}

.description p a:hover {
    text-decoration: underline;
}

.tec-projects .icon {
    display: inline-flex;
    font-size: 35px;
    color: #0ef;
    margin: 10px 0 10px 15px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.1s * var(--j));
}

/* Estilizaçao do layout dos botões */
.description .btn-project {
    display: flex;
    max-width: 100%;
    text-align: left;
    margin-top: 20px;
}

/*
.circle .arrow-down {
    font-size: 16px;
    margin-right: 0.5px;
    transform: rotate(90deg); /* rotaciona o simbolo ">" 90 graus para baixo */
/*
}
*/

/* Estilizaçao dos botões ver codigo */
.btn-project a {
    display: flex;
    text-decoration: none;
    font-size: 16px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: 15px;
    color: #0ef;
}

.btn-project a:hover {
    font-weight: 600;

}

a .circle {
    width: 18px;
    height: 18px;
    margin-left: 5px;
    border: 1px solid #0ef;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    text-align: right;
}

.circle .arrow {
    font-size: 13px;
    color: #0ef;
}

/* Estilizaçao do botões mostrar mais */
.btn-project .show-more {
    display: inline-block;
    font-size: 14px;
    cursor: pointer;
    border-radius: 20px;
    color: #1f242d;
    padding: 10px 20px;
    background: #0ef;
    box-shadow: 0 0 10px #0ef;
    text-decoration: none;
    font-weight: 600;
    border: none;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .8s;
}

.btn-project .show-more:hover {
    box-shadow: 0 0 15px #0ef;
}

/* Estilizaçao do layout do bloco mostrar mais */
.projects-container .details-project {
    display: flex;
    max-height: 0;
    transition: max-height 0.5s;
    width: 70%;
    color: white;
    overflow: hidden;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

/* Estilizaçao das imagens de demonstraçao */
.details-project .details-image {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding: 30px;
    justify-content: space-around;
}

.details-image .images {
    height: 360px;
    width: 360px;
    border: 1px solid #0ef;
    border-radius: 15px;
    cursor: pointer;
    overflow: hidden;
}

.details-image .landscape-image {
    width: 800px;
    height: 480px;
    border: 1px solid #0ef;
    border-radius: 15px;

}

.details-image .images:hover {
    transform: scale(1.03);
}

.details-1 {
    width: 100%;
}

/* Estilizaçao dos layout dos textos */
.details-project .text-1 {
    width: 100%;
    padding: 10px;
    text-align: left;
    font-size: 17px;
    text-indent: 30px;
    border-top: 1px solid gray;
}

.text-1 a {
    color: #0ef;
    text-decoration: none;
}

.text-1 a:hover {
    text-decoration: underline;
}

.details-project .text-2 {
    width: 90%;
    padding: 10px;
    text-align: left;
    font-size: 17px;
    padding-top: 60px;
    border-left: 1px solid rgb(0, 43, 83);
}

.text a {
    text-decoration: none;
}

.text a:hover {
    text-decoration: underline;
}

/* Estilizaçao do texto para download do P */
object p {
    padding: 50px;
    color: white;
}

/* Estilizaçao do link de download do PDF */
object a {
    text-decoration: none;
    color: #1a75ff;
}

object a:hover {
    text-decoration: underline;
}

/* Estilizaçao do lightbox */
#lightbox {
    /* Inicialmente o lightbox é escondido */
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.8);
    z-index: 1;
    text-align: center;
}

/* Estilizaçao da imagem em tamanho real */
#lightboxImagem {
    display: block;
    padding-top: 50px;
    margin: auto;
    max-height: 80%;
    max-width: 80%;
}

/* Estilizaçao para telas menores */
@media (max-width: 768px) {
    .header {
        padding: 15px 5%;
    }

    .logo {
        font-size: 15px;
    }

    .navbar a {
        font-size: 15px;
        margin-left: 10px;
    }

    .home-container {
        flex-wrap: wrap;
        justify-content: center;
        padding: 0 5% 0;
    }

    .home-content {
        margin-top: 42px;
        text-align: center;
    }

    .home-content h3 {
        text-align: center;
        letter-spacing: 5px;
        font-size: 20px;
        font-weight: 700;
    }

    .home-content h3:nth-of-type(2) {
        text-align: center;
        letter-spacing: 1px;
        margin-bottom: 5px;
    }

    .home-content h1 {
        font-size: 30px;
        letter-spacing: 12px;
    }

    .home-img img {
        max-width: 280px;
        max-height: 280px;
    }

    .links a {
        width: 35px;
        height: 35px;
    }

    .btn {
        padding: 10px 20px;
        font-size: 14px;
    }

    .about-container,
    .skills-container {
        padding-top: 50px;
    }

    .skills-content h2,
    .about-content h2 {
        font-size: 30px;
    }

    .about-content .text {
        font-size: 17px;
        border-bottom: 1px solid #0ef;
    }

    .items .icon-skill {
        width: 200px;
        color: #0ef;
    }

    .icon-skill .icon {
        padding: 0;
    }

    .icon-skill p {
        font-size: 10px;
    }

    .icon .icon-font {
        font-size: 115px;
    }

    .borda h2 {
        font-size: 30px;
    }

    .project .description {
        padding: 35px 0 10px 5px;
    }

    .project #description-id {
        padding: 20px 0 10px 5px;
    }

    .description h2 {
        font-size: 17px;
    }

    .description p {
        padding: 5px 10px;
        font-size: 15px;
    }

    .tec-projects .icon {
        font-size: 30px;
        margin: 10px 0 0px 10px;
    }

    #description-id .btn-project {
        margin-top: 5px;
    }

    .btn-project a {
        margin-left: 10px;
        font-size: 13px;
        color: #0ef;
    }

    a .circle {
        width: 15px;
        height: 17px;
        border: 1px solid #0ef;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        text-align: right;
    }

    .circle .arrow {
        font-size: 13px;
        color: #0ef;
    }

    .btn-project .show-more {
        font-size: 12px;
        padding: 10px 10px;
        margin-left: 5px;
    }

    .projects-container .details-project {
        width: 100%;
    }

    .details-project .details-image {
        padding: 0;
        padding-top: 30px;
    }

    .details-1 .images {
        max-width: 300px;
        max-height: 330px;
        margin-bottom: 30px;
    }

    .details-1 .text-1 {
        font-size: 16px;
    }

    #lightboxImagem {
        display: grid;
        place-items: center;
    }
}