<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script> <!-- Typed.js-->
  <link rel="stylesheet" href="../static/css/style.css">
  <script src="../static/js/script.js"></script>
  <title>Erick Nunes</title>
</head>
<body>
  <header class="header">
    <a href="#" class="logo"><span class="azul">&lt;Portf</span><span class="branco">ólio/&gt;</span></a>
    
    <nav class="navbar">
      <a href="#home" style="--i:1;" class="active">Home</a>
      <a href="#about" style="--i:2;">Sobre Mim</a>
      <a href="#skills" style="--i:3;">Habilidades</a>
      <a href="#projects" style="--i:4;">Projetos</a>     
    </nav>
  </header>

  <section id="home" class="home-container" >
    <div class="home-content">
      <h3>Olá, Eu sou</h3>
      <h1>Erick Nunes</h1>
      <h3>E sou <span class="typed-text"></span></h3>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Accusantium, ab autem repellat reiciendis ipsam perspiciatis.</p>
      <div class="links">
        <a href="https://github.com/rick-oss" style="--i:5;" target="_blank">
          <i class='bx bxl-github'></i>
        </a>
        <a href="https://www.linkedin.com/in/erick-nunes-3a1274287/" style="--i:6;" target="_blank">
          <i class='bx bxl-linkedin'></i>
        </a>  
      </div>
      <a href="#" class="btn">Download CV</a>
    </div>

    <div class="home-img">
      <img src="../static/imagens/eu.jpg" alt="">
    </div>
  </section>
  
  <section id="about" class="about-container">
    <div class="about-content">
      <div class="title">Sobre Mim:</div> 
      <div class="text">
        <p>         
          Olá, sou Erick Enedeno Nunes, tenho 19 anos e sou um apaixonado desenvolvedor web, sempre em busca de inovação e aprendizado.
          Adoro desenhar e aprender coisas novas no meu tempo livre, além de ser um grande amante de historias, jogos e da Inteligência Artificial.<br>
          <br>
        </p>
        <p>
          Com 17 anos de idade, mergulhei de cabeça no mundo da programação e venho trilhando um caminho incrível até aqui.
          Minha jornada na programação é caracterizada por um conjunto de habilidades e conhecimentos que continuam a 
          crescer. Atualmente, concentro minha atenção nas seguintes áreas:<br><br>
        </p>
        <p>
          - Linguagem de Programação: <span class="azul">Python</span> é a minha linguagem de eleição. Sua simplicidade e versatilidade me 
          permitem desenvolver soluções incríveis em diversas aplicações. Além disso, estou sempre buscando aprimorar 
          minhas habilidades em Python para criar código mais limpo e eficiente.<br>
        </p>
        <p>
          - Web Development: Como um aspirante a desenvolvedor web, minha paixão reside na criação de sites e aplicações 
          da web. Compreendo a importância do <span class="azul">HTML5</span> e do <span class="azul">CSS3</span> 
          no desenvolvimento web e posso criar páginas web atraentes e responsivas.<br>
        </p>
        <p>
          - Banco de Dados: Trabalhar com bancos de dados é essencial na construção de aplicações web robustas. Tenho 
          experiência em <span class="azul">MySQL</span> e sei como projetar e gerenciar bancos de dados eficientes para aplicações web.<br>
        </p>
        <p>
          - Framework Web: Estou familiarizado com o <span class="azul">Flask</span> um microframework em Python que me permite criar aplicações 
          web de maneira eficiente e escalável. Utilizando o Flask, tenho explorado a construção de aplicativos da web e 
          aprimorado minhas habilidades nessa área.<br><br>
        </p>
        <p>
          Este portfolio digital é uma expressão do meu constante aprendizado e experimentação. Aqui, você encontrará exemplos 
          dos meus projetos pessoais e conquistas na programação. Estou sempre em busca de novos desafios e oportunidades para 
          aprimorar minhas habilidades, por isso, fique à vontade para explorar meus projetos e entrar em contato comigo por 
          meio das redes sociais.
        </p>
      </div>
    </div>
  </section>

  <section id="skills" class="skills-container">
    <div class="skills-content">
      <h2><span class="azul">&lt;TECNOL</span>OGIAS/&gt;</h2>
      <div class="items">
        <div class="icon-skill">
          <div class="icon"><i class='bx bxl-html5 icon-font' id="html"></i></div>
          <p>HTML</p>
        </div>
        <div class="icon-skill">
          <div class="icon"><i class='bx bxl-css3 icon-font'></i></div>
         <p>CSS</p>
        </div>
        <div class="icon-skill">
          <div class="icon"><i class='bx bxl-javascript icon-font'></i></div>
          <p>JAVASCRIPT</p>
         </div>
        <div class="icon-skill">
         <div class="icon"><i class='bx bxl-vuejs icon-font'></i></div>
         <p>VUE.JS</p>
        </div>
        <div class="icon-skill">
          <div class="icon"><i class='bx bxl-git icon-font'></i></div>
          <p>GIT</p>
        </div>
        <div class="icon-skill">
          <div class="icon"><i class='bx bxl-nodejs icon-font'></i></div>
          <p>NODE.JS</p>
        </div>
        <div class="icon-skill">
          <div class="icon"><i class='bx bxl-python icon-font'></i></div>
          <p>PYTHON</p>
        </div>
        <div class="icon-skill">
          <div class="icon"><i class='bx bxl-flask icon-font'></i></div>
          <p>FLASK</p>
        </div>
      </div>
    </div>
  </section>
  
  <section id="projects" class="projects-container">
    <div class="project">
      <div class="image">
        <img src="../static/imagens/api.png" data-src="../static/imagens/api.png" alt="preto"> 
      </div>
      <div class="description">
        <h2>Gerador de Conselhos</h2>
        <p>Um gerador de conselhos com a API Adviceslip.</p>
        <div class="tec-projects">
          <div class="icon"><i class='bx bxl-python icon-project'></i></div>
          <div class="icon"><i class='bx bxl-javascript icon-project'></i></div>
          <div class="icon"><i class='bx bxl-html5 icon-project' id="html"></i></div>
          <div class="icon"><i class='bx bxl-css3 icon-project'></i></div>
        </div>
        <div class="btn-project">
          <button class="show-more">Mostrar Mais ▼</button> 
          <a href="https://github.com/rick-oss/advice-api" target="_blank">Ver código
            <div class="circle">
              <div class="arrow">></div>
            </div>
          </a>           
        </div> 
      </div>                  
    </div> 
    <div class="details-project">
      <div class="details-1">
        <div class="details-image">
          <img src="../static/imagens/conselho-1.png" data-src="../static/imagens/conselho-1.png" class="images images-" alt="Login Form">
          <img src="../static/imagens/conselho-2.png" data-src="../static/imagens/conselho-2.png"  class="images images-"  alt="Signup Form">
        </div>
        <div class="text-1">
          <p>
            O projeto de modo geral tem duas APIs integradas.
            A principal e já citada <a href="https://api.adviceslip.com/" target="_blank">Adviceslip</a>,
            que gera conselhos com o inglês como idioma padrão.<br>
          </p>
          <p> 
            A segunda API é a <a href="https://mymemory.translated.net/" target="_blank">Mymemory</a>. 
            API de traduçao de textos que foi usada para traduzir os conselhos
            gerados para o português, que serve como uma segunda opçao de idioma.<br>
          </p>
          <p>
            As requisiçoes iniciais as APIS foram feitas com python.
            Enquanto as transiçoes entre o conteúdo das duas foram 
            feitos com javascript.
          </p> 
        </div>
      </div>
    </div>     
   
    <div class="project">
      <div class="image">
        <img src="../static/imagens/tradutor.png" data-src="../static/imagens/tradutor.png"  alt="preto"> 
      </div>
      <div class="description">
        <h2>Tradutor</h2>
        <p>
          Um Tradutor feito com o modulo deep_translator do python.
          <br>Estilizado com css, html e javascript.
        </p>
        <div class="btn-project">
          <button class="show-more">Mostrar Mais ▼</button> 
          <a href="https://github.com/rick-oss/tradutor-python" target="_blank">Ver código
            <div class="circle">
              <div class="arrow">></div>
            </div>
          </a>           
        </div> 
      </div>                        
    </div> 
    <div class="details-project">
      <div class="details-1">
        <div class="details-image">
          <img src="../static/imagens/tradutor-1.png" data-src="../static/imagens/tradutor-1.png" class="images images-" alt="Login Form">
          <img src="../static/imagens/tradutor-2.png" data-src="../static/imagens/tradutor-2.png"  class="images images-"  alt="Signup Form">
        </div>
      </div>
    </div> 

    <div class="project">
      <div class="image">
        <img src="../static/imagens/registro.png" data-src="../static/imagens/registro.png"> 
      </div>
      <div class="description">
        <h2>Formulários Registro/Login</h2>
        <p>
          Formulários feitos em HTML e CSS.
          Integrado com um banco de dados MySQL que armazena 
          endereços de<br> email e senhas criptografadas com bcrypt para autenticaçao.<br>
        </p>
        <div class="btn-project">
          <a href="https://formulario-alpha-six.vercel.app/index.html" target="_blank">Ver projeto
            <div class="circle">
              <div class="arrow">></div>
            </div>
          </a> 
          <a href="https://github.com/rick-oss/formulario" target="_blank">Ver código
            <div class="circle">
              <div class="arrow">></div>
            </div>
          </a>           
        </div> 
      </div>                      
    </div>  
    
    <div class="project">
      <div class="image">
        <img src="../static/imagens/backend.jpg" data-src="../static/imagens/backend.jpg" alt="backend image"> 
      </div>
      <div class="description">
        <h2>Gerador de Apostas</h2>
        <p>
          Um gerador de apostas feito com python.
          <br>O código conta com 3 soluçoes diferentes.
        </p>
        <div class="btn-project">
          <a href="https://github.com/rick-oss/gerador-de-apostas/blob/main/gerador.py" target="_blank">Ver código
            <div class="circle">
              <div class="arrow">></div>
            </div>
          </a>           
        </div> 
      </div>                      
    </div> 
  </section>

  <div id="lightbox" class="hidden">
    <img id="lightboxImagem" src="" alt="Imagem em tamanho real">
  </div>
  
</body>
</html>
